/* Archivo para los estilos que se ocuapen en general en la pagina*/
* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

body{
    background: linear-gradient(to right, rgba(112, 35, 130), rgba(06, 82, 266));   
}

.GUARDA{
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.CONSULTA {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.DESCARGA {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.LISTA {
    width: 470px; /* Ancho de la lista desplegable */
    padding: 10px; /* Espacio interno */
    border: 1px solid #ccc; /* Borde con color gris */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    background-color: #fff; /* Color de fondo */
    color: #333; /* Color del texto */
}

/* Estilo para las opciones de la lista desplegable */
.LISTA option {
    padding: 4px; /* Espacio interno */
    font-size: 14px; /* Tamaño de fuente para las opciones */
}

/* Estilo para la opción "Selecciona una opcion" (deshabilitada) */
.LISTA option[disabled] {
    color: #999; /* Color del texto deshabilitado */
}

form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

h2 {
	text-align: center;
	padding: 12px;
	color: #000000
}

p {
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px; /* Espacio en la parte inferior */
}


input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}


#navbar{
    background: linear-gradient(to right, rgba(112, 35, 130), rgba(06, 82, 266));
    color: aliceblue;
    height: 130px;
    top: 0;
    position: -webkit-sticky; 
    display: flex;
    justify-content: center;
    align-items: center ;   
}		


#logo{

    width: 150px; 
    position: relative;  
    right: 80px;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 62px;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-align: center;
    color: aliceblue;
    position: relative;  
    right: -80px;

}

#curp{
   
    padding: 40px 10px;
	background-color: #ffff00;
	margin: calc(30% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}


#bread{
    position: relative;  
    right: -90px;
}

ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
}

ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(255, 253, 253);
    content: "/\00a0";
}

ul.breadcrumb a:link, ul.breadcrumb a:visited {
    text-decoration:none;
    color: rgb(255, 255, 255);
}

ul.breadcrumb li a.active {
    color: #4CAF50;
    font-weight: bold;
}
ul.breadcrumb li a.active:hover {
    color: #397f3b;
    font-weight: bold;
}

ul li a:hover{
    background-color: aqua;
    color: black;

}


table{
    background-color: white;
    text-align: left;
    width: 100%;
}
/************************************************Estilo FORMS******************************************************/

/* Estilo para el formulario */
form {
    width: 500%; /* Ancho del formulario */
    max-width: 500px; /* Ancho máximo para evitar que se ensanche demasiado */
    margin: 0 auto; /* Centra el formulario horizontalmente en el centro de su contenedor */
    padding: px; /* Espaciado interno */
    background-color: #f0f0f0; /* Color de fondo */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 20px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo para las etiquetas (labels) */
label {
    display: block; /* Hace que las etiquetas ocupen una línea completa */
    margin-bottom: 8px; /* Espaciado inferior entre etiquetas */
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para los campos de entrada (input) y áreas de texto (textarea) */
input[type="text"],
input[type="email"],
textarea {
    width: 90%; /* Los campos ocupan todo el ancho del formulario */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado inferior entre campos */
    border: 1px solid #ccc; /* Borde de los campos */
    border-radius: 3px; /* Borde redondeado */
    font-size: 16px; /* Tamaño de fuente */
}

/* Estilo para el botón de envío (submit) */
input[type="submit"] {
    background-color: #3498db; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 3px; /* Borde redondeado */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilo para el botón de envío cuando se pasa el cursor sobre él */
input[type="submit"]:hover {
    background-color: #2980b9; /* Color de fondo al pasar el cursor */
}

/* Estilo para mensajes de error (puedes personalizarlos según tus necesidades) */
.error-message {
    color: red; /* Color de texto rojo */
    font-size: 14px; /* Tamaño de fuente más pequeño para los mensajes de error */
    margin-top: 5px; /* Espaciado superior */
}


/***************************************************Boton descarga*****************************************/

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #30cf4b; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición de color de fondo */
  }
  
  /* Estilo al pasar el cursor por encima del botón */
  .btn:hover {
    background-color: #1da524; /* Cambia el color de fondo al pasar el cursor */
  }




 /* Estilo para el botón de inicio */
 .btn-inicio {
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior según tu diseño */
    left: 20px; /* Ajusta la distancia desde la izquierda según tu diseño */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición de color de fondo */
  }
  
  /* Estilo al pasar el cursor por encima del botón de inicio */
  .btn-inicio:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
  }